my_raw_templates/**/*.png filter=lfs diff=lfs merge=lfs -text
my_raw_templates/**/*.jpg filter=lfs diff=lfs merge=lfs -text
my_raw_templates/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
my_raw_templates/**/*.webp filter=lfs diff=lfs merge=lfs -text
my_raw_templates/**/*.gif filter=lfs diff=lfs merge=lfs -text
my_raw_templates/**/*.ico filter=lfs diff=lfs merge=lfs -text
